@font-face {
  font-family: 'iconfont';  /* Project id 3006493 */
  src: url('//at.alicdn.com/t/font_3006493_malps26occ.woff2?t=1639288896809') format('woff2'),
       url('//at.alicdn.com/t/font_3006493_malps26occ.woff?t=1639288896809') format('woff'),
       url('//at.alicdn.com/t/font_3006493_malps26occ.ttf?t=1639288896809') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}